[Unit]
Description=scheduled paccache clean

[Service]
Type=simple
ExecStart=paccache -r -k3  $(find /var/cache/flexo/pkg -type d -name x86_64 -printf "-c %p ")