# blacklist for pci runtime power management
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x34ed", ATTR{power/control}="on", GOTO="pci_pm_end"

SUBSYSTEM=="pci", ATTR{power/control}="auto"
LABEL="pci_pm_end"
